body {
  margin-top: 20px;
  background: #e6e6e6;
  background-image: url("../src/windows.jpg");
}

label span {
  color: red;
}

form .error {
  color: red;
}

h5 b {
  text-transform: uppercase;
}

.input {
  position: fixed;
  top: 200px;
  left: 0px;
}

.card-input {
  background-color: wheat;
}

label {
  overflow: hidden;
}

.col-margin{
  margin-top: 20px;
}
