html, body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.container {
    margin: auto;
    width: 1000px;
}

table, td {
    border: 1px solid crimson;
    border-collapse: collapse;
}

#profile-picture {
    max-width: 200px;
    max-height: 200px;
    border: none;
    outline: none;
    margin: 0px;
}

table {
    width: 100%;
}

table tr:first-child {
    background-color: crimson;
    color: white;
}

td.profile {
    width: 200px;
}

.index {
    width: 200px;
    padding: 5px;
    color: crimson;
}
.row {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.col {
    float: right;
    flex-direction: row;
    width: 240px;
    border-left: 1px solid white;
    padding: 10px;
}

.col p {
    font-size: 14px;
    margin-top: 0px;
}

.col h3 {
    margin-bottom: 0px;
}

.col:first-child {
    border: none;
}

p span i {
    padding: 10px;
}